extends base.pug

block content 
  h1.page_name Writing app

  form.editor.form(action="/post" method="POST")
    input.editor__heading(type="text" name="title" required="true" placeholder="Heading..." autofocus="true")
    input.editor__name(type="text" name="username" required="true" placeholder="Your Name...")
    textarea#post.editor__post(placeholder="Your post..." spellcheck="true" name="post_text")
    button.submit_btn(type="submit") Submit
