<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title}
    link(rel="stylesheet", href="static/css/style.css")
  body
    .wrapper
      h1.page_name Writing app
      form.editor.form(action="/post" method="POST")
        input.editor__heading(type="text" name="heading" required="true" placeholder="Heading..." autofocus="true")
        input.editor__name(type="text" name="name" required="true" placeholder="Your Name...")
        textarea#post.editor__post(placeholder="Your post..." spellcheck="true" name="post_text")
        button.submit_btn(type="submit") Submit

    script(src="static/js/resize-textarea.js")
